# See https://atom.io/docs/latest/creating-a-package#menus for more details
'.overlayer':
  'Enable pm-test-open': 'pm-test-open:open'

'menu': [
  {
    'label': 'Packages'
    'submenu': [
      'label': 'pm-test-open'
      'submenu': [
        { 'label': 'Open', 'command': 'pm-test-open:open' }
        { 'label': 'OpenModule', 'command': 'pm-test-open:openModule' }
      ]
    ]
  }
]
